.operating-environment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matrix-heading {
  margin-bottom: 20px;
}

.machine-chart-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.machine-chart-wrapper h4 {
  text-align: center;
  margin-bottom: 10px;
}

.machineButton {
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
}

.displayModeLabel {
  display: block;
  margin-bottom: 10px;
}


.datePickers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.datePickers label {
  margin-right: 10px;
}
