.dashboard {
  padding: 10px;
  max-width: 1200px; /* Set a maximum width for the dashboard */
  margin: 0 auto; /* Center the dashboard */
}

.dashboard-header {
  margin-bottom: 10px;
  margin-top: -20px;
  width: 100%; /* Make sure the header takes the full width */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.dashboard-header h2 {
  text-align: center; /* Center the header text */
  font-size: 28px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust to fit within the max-width */
  grid-gap: 20px;
  justify-items: center; /* Center the grid items */
  margin: 0 auto; /* Center the grid content */
}
